<!-- NeedBraces: permitir if en 1 línea sin llaves -->
<module name="NeedBraces">
  <property name="allowSingleLineStatement" value="true"/>
</module>

<!-- LeftCurly: aceptar tanto misma línea como nueva línea -->
<module name="LeftCurly">
  <property name="option" value="nlow"/>
</module>

<!-- OperatorWrap: permitir + al final de línea -->
<module name="OperatorWrap">
  <property name="option" value="eol"/>
</module>

<!-- NoWhitespaceAfter: excluir array initializers -->
<module name="NoWhitespaceAfter">
  <property name="tokens" value="AT, INC, DEC, UNARY_MINUS, UNARY_PLUS, BNOT, LNOT, DOT, ARRAY_DECLARATOR, INDEX_OP, METHOD_REF"/>
</module>

<!-- LineLength: subir a 130 -->
<module name="LineLength">
  <property name="max" value="130"/>
  <property name="ignorePattern" value="^import"/>
</module>

<!-- MethodName: permitir _ en repositorios Spring Data -->
<module name="MethodName">
  <property name="format" value="^[a-z][a-zA-Z0-9]*(_[a-zA-Z0-9]+)*$"/>
</module>